<div class="card mb-3">
  <div class="card-body">
    <%= form_with model: [board, review] do |f| %>
      <div class="mb-3">
        <%= f.label :workability_rating, class: "form-label" %>
        <div class="star-rating">
          <% (1..5).reverse_each do |i| %>
            <%= f.radio_button :workability_rating, i, id: "star#{i}", class: "star-input" %>
            <%= label_tag "star#{i}", "★", class: "star-label" %>
          <% end %>
        </div>
      </div>
      <div class="mb-3">
        <%= f.label :comment, class: "form-label" %>
        <%= f.text_area :comment, rows: 3, class: "form-control" %>
      </div>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
