<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1 style="text-align:center">レビューの編集</h1>
      
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= @board.title %></h5>
          <p class="text-muted"><%= @board.address %></p>
        </div>
      </div>

      <%= form_with model: @review, url: review_path(@review), method: :patch do |f| %>
        <%#= render 'shared/error_messages', object: f.object %>
        
        <div class="mb-3">
          <%= f.label :workability_rating, "作業のしやすさ", class: "form-label" %>
          <%= f.select :workability_rating, (1..5).to_a, {}, class: "form-select" %>
        </div>
        
        <div class="mb-3">
          <%= f.label :comment, "コメント", class: "form-label" %>
          <%= f.text_area :comment, class: "form-control", rows: 5 %>
        </div>
        
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
      
      <div class='text-center mt-3'>
        <%= link_to "詳細に戻る", board_path(@board) %>
      </div>
    </div>
  </div>
</div>
